@model IEnumerable<SewingFactory.Models.WorkingGroup>

@{
    ViewBag.Title = "Index";
}

<p>
    <br/>
    <a class="btn btn-primary" href="/WorkingGroup/Create">Добавить группу</a>
</p>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Список всех групп</div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Название")
                </th>
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td align="right">
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) 

                    </td>
                </tr>
            }

    </table>
</div>
<a href="/Employees/" class="btn btn-default">Назад </a>