@model IEnumerable<SewingFactory.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2> </h2>

<p>

</p>
<div class="panel panel-default">
    <div class="panel-heading">Список заказов</div>
    <table class="table table-condensed table-hover">

        <thead>
            <tr>

                <th>
                    @Html.DisplayName("Заказ")
                </th>
                <th>
                    @Html.DisplayName("Рабочая группа")
                </th>


            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.ActionLink(item.Name, "EmploeesOrder", new { id = item.Id })

                </td>

                <td>
                    @Html.DisplayName(item.WorkingGroup1.Name)
                </td>
            </tr>
        }

    </table>
</div>
<a href="/Home/" class="btn btn-default">Назад </a>