@{
    ViewBag.Title = "Главная страница";
}
 
<br/>
<div class="row top-buffer">
    <div class="list-group col-lg-3">
        <a href="#" class="list-group-item active">
            Меню
        </a>
       
        <a href="/Employees/" class="list-group-item">Сотрудники</a>
        <a href="/Order/" class="list-group-item">Заказы</a>
        <a href="/RawMaterials/" class="list-group-item">Материалы</a>
        <a href="/SalaryHistory/" class="list-group-item">История Начисления З.О.</a>
        <a href="/EmploeesOrder/" class="list-group-item">Выполнено по заказу </a>
        <a href="/PostOrder/" class="list-group-item">З.О. По заказом</a>
        <a href="/Buget/" class="list-group-item">Бюджет</a>
        <a href="/Model/" class="list-group-item">Модели продуктов</a>
    </div>
</div>